.reports-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 30px;
}

.report-card {
    background: #fff;
    padding: 25px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 18px;

    box-shadow: 0 8px 25px rgba(15, 23, 42, 0.08);

    transition: 0.3s;
}

.report-card:hover {
    transform: translateY(-5px);
}

.report-icon {
    width: 65px;
    height: 65px;

    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: white;
}

/* BLUE */

.report-icon.blue {
    background: linear-gradient(
        135deg,
        #3b82f6,
        #60a5fa
    );
}

/* PURPLE */

.report-icon.purple {
    background: linear-gradient(
        135deg,
        #7c3aed,
        #a855f7
    );
}

/* GREEN */

.report-icon.green {
    background: linear-gradient(
        135deg,
        #10b981,
        #34d399
    );
}

/* RED */

.report-icon.red {
    background: linear-gradient(
        135deg,
        #ef4444,
        #f87171
    );
}

.report-card-info h2 {
    color: #1e293b;
    margin-bottom: 5px;
    font-size: 28px;
}

.report-card-info p {
    color: #64748b;
}

@media (max-width: 1000px) {
    .reports-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .reports-cards {
        grid-template-columns: 1fr;
    }
}