.upcoming-card{
    background:#fff;
    border-radius:22px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.upcoming-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.upcoming-header h2{
    color:#1f2937;
}

.active-badge{
    background:#eef2ff;
    color:#5B5FEF;
    padding:8px 16px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}