.candidate-chart-card{

    background:#fff;

    padding:25px;

    border-radius:20px;

    margin-bottom:30px;

    box-shadow:
        0 8px 25px rgba(15,23,42,.08);

}

.candidate-chart-card h2{

    color:#1E293B;

    margin-bottom:25px;

    font-size:22px;

}